@model test_proje.Models.uye

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <h2>Düzenle ve Yetki Ver </h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.uyeId)

            <div class="form-group">
                <div class="col-md-2">Kullanıcı Adı</div>
                @*@Html.LabelFor(model => model.kullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5">
                    @Html.EditorFor(model => model.kullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.kullaniciAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">E-Mail</div>
                @*@Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">Şifre</div>
                @*@Html.LabelFor(model => model.sifre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5">
                    @Html.EditorFor(model => model.sifre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">Adı</div>
                @*@Html.LabelFor(model => model.adi, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5">
                    @Html.EditorFor(model => model.adi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.adi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">Soyadı</div>
                @*@Html.LabelFor(model => model.soyadi, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5">
                    @Html.EditorFor(model => model.soyadi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.soyadi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">Yetkisi</div>
                @*@Html.LabelFor(model => model.yetkiId, "yetkiId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5">
                    @Html.DropDownList("yetkiId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.yetkiId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Geri Dön", "Index")
    </div>
</div>