@model test_proje.Models.uye

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUye.cshtml";
}

<h2>Üye</h2>

<div>
    <h4>Profili</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yetki.yetki1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yetki.yetki1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyadi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.uyeId }) |
    
</p>
