@model test_proje.Models.uye

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUye.cshtml";
}

<h2>Üye</h2>

<div>
    <h4>Profili</h4>
    <hr />
    <dl class="dl-horizontal" style="margin-bottom:285px">
        <dt>
            @*@Html.DisplayNameFor(model => model.yetki.yetki1)*@
            <span>Yetkisi: </span>
            <label style="font-weight:normal !important; padding-left:145px">
                @Html.DisplayFor(model => model.yetki.yetki1)
            </label>
        </dt>



        <dt>
            @*@Html.DisplayNameFor(model => model.kullaniciAdi)*@
            <span>Kullanıcı Adı: </span>
            <label style="font-weight:normal !important; padding-left:100px">
                @Html.DisplayFor(model => model.kullaniciAdi)
            </label>
        </dt>

       

        <dt>
            @*@Html.DisplayNameFor(model => model.email)*@
            <span>E-Mail: </span>
            <label style="font-weight:normal !important; padding-left:145px">
                @Html.DisplayFor(model => model.email)
            </label>
        </dt>

        

        <dt>
            @*@Html.DisplayNameFor(model => model.sifre)*@
            <span>Şifre: </span>
            <label style="font-weight:normal !important; padding-left:157px">
                @Html.DisplayFor(model => model.sifre)
            </label>
        </dt>

       

        <dt>
            @*@Html.DisplayNameFor(model => model.adi)*@
            <span>Adı: </span>
            <label style="font-weight:normal !important; padding-left:168px">
                @Html.DisplayFor(model => model.adi)
            </label>
        </dt>

        
        <dt>
            @*@Html.DisplayNameFor(model => model.soyadi)*@
            <span>Soyadı: </span>
            <label style="font-weight:normal !important; padding-left:142px">
                @Html.DisplayFor(model => model.soyadi)
            </label>
        </dt>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.uyeId }) |
    
</p>
